/* General Styles */
html,
body {
  background-color: #011936;
  color: #e7ecef;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #7e7f83 !important;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: #ff7742 !important;
}

/*FONT STYLES*/
p,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.border {
  border-color: #7e7f83 !important;
}

/*DARK COLORS */

.dark-blue {
  color: #011936;
}

.bg-dark-blue {
  background-color: #011936;
  color: #e7ecef;
}

.dark-blue-lighter {
  color: #022248;
}

.bg-dark-blue-lighter {
  background-color: #022248;
  color: #e7ecef;
}

.blue {
  color: #506e9a;
}

.bg-blue {
  background-color: #506e9a;
  color: #e7ecef;
}

.white {
  color: #e7ecef;
}

.bg-white {
  background-color: #e7ecef;
  color: #011936;
}

/*ACCENT COLORS*/

.orange {
  color: #e5750d;
}

.bg-orange {
  background-color: #e5750d;
}

.red {
  color: #eb4e57;
}

.bg-red {
  background-color: #eb4e57;
}

.bright-green {
  color: #32b959;
}

.bg-bright-green {
  background-color: #32b959;
}

.bright-red {
  color: #ff4217;
}

.bg-bright-red {
  background-color: #ff4217;
}

/*GRAY COLORS*/

.blue-gray {
  color: #4b6584;
}

.bg-blue-gray {
  background-color: #4b6584;
}

.graphite {
  color: #7e7f83;
}

.bg-graphite {
  background-color: #7e7f83;
}

.purple-gray {
  color: #433742;
}

.bg-purple-gray {
  background-color: #433742;
}

.turquise-gray {
  color: #799aa7;
}

.bg-turquise-gray {
  background-color: #799aa7;
}

/*
PIE CHART COLORS
turquise-gray - #799aa7
blue - #506e9a
puple-blue - #ff4217
purple - #7e468a
cherry-purple - #942270
cherry-red - #c12862
red - #eb4e57
pale-orange - #ff7742
*/

.purple-blue {
  color: #ff4217;
}

.bg-purple-blue {
  background-color: #ff4217;
}

.purple {
  color: #7e468a;
}

.bg-purple {
  background-color: #7e468a;
}

.cherry-purple {
  color: #942270;
}

.bg-cherry-purple {
  background-color: #942270;
}

.cherry-red {
  color: #c12862;
}

.bg-cherry-red {
  background-color: #c12862;
}

.pale-orange {
  color: #ff7742;
}

.bg-pale-orange {
  background-color: #ff7742;
}

/*BUTTONS*/
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
  background-color: #e5750d;
  color: #e7ecef;
  border: none !important;
}

.btn-primary:hover {
  background-color: #7e7f83;
  color: #e7ecef;
}

.btn-cta-2 {
  background-color: #eb4e57;
  color: #e7ecef;
}

.btn-cta-2:hover {
  background-color: #7e7f83;
  color: #e7ecef;
}

.btn-secondary a {
  background-color: #011936 !important;
  color: #ff7742 !important;
  border: #ff7742 2px solid;
}

.btn-secondary a:hover {
  background-color: #022248;
  color: #e7ecef;
  border: #e7ecef 2px solid;
}

.btn-secondary-2 {
  background-color: #011936;
  color: #506e9a;
  border: #506e9a 2px solid;
}

.btn-secondary-2:hover {
  background-color: #022248;
  color: #e7ecef;
  border: #e7ecef 2px solid;
}

.btn-outline-light {
  background-color: transparent;
  color: #7e7f83;
  border: #7e7e7e 2px solid;
}

.btn-outline-light:hover {
  background-color: #7e7f83;
  color: #e7ecef;
}


/*NAVIGATION*/
.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #7e7f83;
  pointer-events: none; /* Prevents the icon from capturing mouse events */
  font-size: 1rem;
}

.form-control {
  padding-left: 30px; /* Add padding to the left to make space for the icon */
  border-radius: 5px;
  border: 1px solid #7e7f83;
  background-color: #011936;
}

.form-control:focus {
  border-color: #ff7742;
  box-shadow: 0 0 5px rgba(255, 119, 66, 0.5);
  outline: none; /* Remove the default outline on focus */
  background-color: #022248; /* Optional: Change background color on focus */
}

.dropdown-menu {
  background-color: #022248;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  color: #e7ecef;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #011936;
  color: #e7ecef;
}

.dropdown-item.active {
  background-color: #011936;
  color: #e7ecef;
}

/*LANDING PAGE*/
.carousel-item {
  min-height: 500px;
  display: flex;
  align-items: center;
  background-color: #011936;
  padding: 3rem 0;
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.movie-meta {
  font-size: 1rem;
  color: #e7ecef;
}

.movie-meta h5 {
  color: #7e7f83;
}

.movie-meta a {
  color: #4b6584 !important;
  font-weight: bold;
}

.movie-meta a:hover {
  color: #ff7742 !important;
}

.movie-meta p {
  margin: 0 0.5rem;
  color: #e5750d !important;
  font-size: small;
  font-weight: bold;
}

.movie-meta-info {
  margin-right: 1rem;
}

.movie-description {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.read-more {
  font-weight: bold;
  color: #e7ecef;
  text-decoration: none;
}

.avatar-group img {
  width: 90px;
  height: 150px;
  object-fit: cover;
  margin-right: 0.5rem;
}

.poster-main {
  margin-top: 0;
  width: 300px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

.poster-stack {
  width: 150px;
  opacity: 0.6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
}

.avatar-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem; /* Reduced space at the top */
  margin-bottom: 1rem;
}

.avatar-group div {
  text-align: center;
  width: 90px; /* Adjust width to control image and text width */
}

.avatar-group img {
  width: 90px;
  height: 120px;
  object-fit: cover;
}

.avatar-group strong {
  display: block;
  font-size: 0.5rem; /* Reduced font size for the names */
  font-weight: 500; /* Slightly reduced weight */
  margin-top: 0.25rem;
  text-transform: uppercase;
}

.avatar-group small {
  display: block;
  font-size: 0.5rem;
  color: #7e7f83;
  font-weight: bold; /* Made bold */
  text-transform: uppercase;
}

.movie-rating {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.movie-meta-director {
  font-weight: bold;
}

.rate-icon {
  color: #ff7742;
  margin: 0 1rem;
}

.rate-icon img {
  width: 20px;
  height: 20px;
  margin: 0 0.25rem;
}

.rate-icon a {
  font-weight: bold;
  text-decoration: none;
}

.cta {
  margin-top: 1.5rem;
}

.bi .bi-play-fill i {
  font-size: 1.5rem !important;
}

/*CARDS*/
.card {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  border-radius: none;
  width: 150px;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: none;
}

.card-title {
  font-size: 0.65rem !important;
  font-weight: bold;
  margin-bottom: 0.5rem;
  /* text-transform: uppercase; */
}

.card-footer{
  background-color: #011936;
  border-top: none;
  margin: none;
  padding: none;
}

.resume-card-percentage {
  font-size: 0.75rem;
  font-weight: bold;
  color: #ff7742 !important;
}

.progress {
  padding: 0.85px;
  background-color: #011936;
}

.progress-bar {
  background-color: #ff7742;
} 

.subtitle a {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

a.lib-link {
  padding: none !important;
  padding-right: 20px !important;
}

.watchlist-card {
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  border-radius: none;
  width: 250px;
}

.watchlist-card .card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: none;
}

.watchlist-card .card-title {
  font-size: 0.65rem !important;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.poster-collage {
  display: flex;
  width: 100%;    /* Fixed collage width */
  height: 250px;   /* Fixed collage height */
  overflow: hidden;
  gap: 0.1rem;     /* spacing between posters */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.poster-crop {
  height: 100%;
  object-fit: cover;
  object-position: center 40%; /* Show mid-region of the image */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.collage-1 { width: 100%; }
.collage-2 { width: calc(50% - 0.05rem); }
.collage-3 { width: calc(33.333% - 0.066rem); }
.collage-4 { width: calc(25% - 0.075rem); }

/*LIBRARY PAGE*/
.feature-icon {
  background-color: #022248 !important;
  color: #022248 !important;
}

.feature-icon i {
  font-size: 1rem;
  color: #e7ecef;
  padding: 0.5rem;
  border-radius: 5%;
  text-align: center;
}

.stats {
  background-color: #022248 !important;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  border-radius: 1%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}