{% extends "base.html" %} {% block title %}Film Details{% endblock %} {% block
content %}
<section
  class="w-100"
  id="summary-wrapper"
  style="background-image: url('../static/posters/{{ movie.poster_main }}')"
></section>

<!--  flex-column flex-md-row g-4" id="summary-container" -->
<section
  class="container col-12 d-flex flex-column flex-md-row g-4"
  id="summary-container"
>
  <div class="sidebar col-3">
    <div class="poster-wrapper mb-3">
      <img
        src="../static//posters/{{ movie.poster_main }}"
        alt="Movie Poster"
        class="poster-img"
      />
    </div>
    <div class="button-group">
      <a href="#" class="btn btn-primary w-100 mb-2" id="continue-watching">
        Continue Watching <i class="bi bi-play-fill"></i>
      </a>
      <a href="#" class="btn btn-outline-light w-100">
        Watch Trailer <i class="bi bi-film"></i>
      </a>
      <a href="#" class="btn btn-outline-light w-100">
        Download <i class="bi bi-cloud-arrow-down-fill"></i>
      </a>
      <a href="#" class="btn btn-outline-light w-100">
        Edit Details <i class="bi bi-pencil-fill"></i>
      </a>
      <a href="#" class="btn btn-outline-light w-100">
        Add to Watchlist <i class="bi bi-plus-circle"></i>
      </a>
      <a href="#" class="btn btn-outline-light w-100">
        Directory <i class="bi bi-geo-alt"></i>
      </a>
      <a href="#" class="btn btn-outline-light w-100">
        Share <i class="bi bi-share-fill"></i>
      </a>
    </div>
  </div>

  <div class="content col-9">
    <div class="head-titles">
      <div class="titles">
        {% if movie.franchise != "" %}
        <h2 class="franchise-title"><em>{{ movie.franchise}}</em></h2>
        {% endif %}
        <h1 class="movie-title">
          {{ movie.title }} <span class="year">({{ movie.year }})</span>
        </h1>
      </div>
      <div
        class="movie-stats movie-meta d-flex flex-wrap align-items-center gap-2"
      >
        <img
          src="../static/img/pg.png"
          alt="Age Rating"
          class="age-rating"
          style="margin-right: 1rem"
        />
        {% for genre in movie.genres %}
        <a href="#" class="genre">{{ genre }}</a>{% if not loop.last %}
        <span class="divider">·</span>
        {% endif %} {% endfor %}
        <p class="watched">{{ movie.watched }}% watched</p>
      </div>
    </div>
    <div class="descriptions">
      <div
        class="rating-section d-flex flex-wrap align-items-center gap-3 mt-3"
      >
        {% for director in movie.directors %}
        <a href="#" class="movie-meta-director">{{ director }}</a>
        {% if not loop.last %}
        <span class="blue">·</span>
        {% endif %} {% endfor %}

        <div class="ratings-icons d-flex align-items-center gap-1">
          <img src="../static/img/imdb.png" alt="IMDb" />
          <span>{{ movie.imdb_rating }}</span>
        </div>
        <div class="ratings-icons d-flex align-items-center gap-1">
          <img src="../static/img/rotten.png" alt="Rotten Tomatoes" />
          <span>{{ movie.rotten_tomatoes_rating }}%</span>
        </div>
      </div>

      <div class="movie-description mt-4">
        <p>{{ movie.description }}</p>
      </div>
    </div>

    <div class="cast-section mt-4">
      <h2 class="">Cast</h2>
      <div class="avatar-group gap-2">
        {% for actor in movie.cast %}
        <div>
          <a href="#">
            <img
              src="../static/stars/{{ actor.image }}"
              alt="{{ actor.name }}"
            />
          </a>
          <strong>{{ actor.name }}</strong>
          <small>{{ actor.role }}</small>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="similar-films">
      <div class="row col-12 g-3">
        <h2 class="">Similar Movies</h2>
        <!-- Movie Card -->
        {% for movie in similar_movies %}
        <div class="card-group col">
          <div class="card bg-dark-blue-lighter">
            <img
              src="../static/posters/{{ movie.poster_main }}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p
                class="card-title text-truncate"
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                "
              >
                {{ movie.title }}
              </p>

              <div
                class="resume-card col-12 d-flex align-items-center justify-content-between"
              >
                <div
                  class="progress-section d-flex align-items-center flex-grow-1"
                >
                  <p
                    class="mb-0"
                    style="
                      font-weight: bold;
                      font-size: 0.75rem;
                      color: #7e7f83;
                    "
                  >
                    {{ movie.year }}
                  </p>
                  <span style="color: #7e7f83" class="mx-2">|</span>
                  <div>
                    <img
                      style="height: 20px"
                      src="../static/img/imdb.png"
                      alt="imdb logo"
                    />
                    <a
                      href="#"
                      style="
                        font-size: 0.75rem;
                        font-weight: bold;
                        color: #ff7742 !important;
                      "
                      >{{ movie.imdb_rating }}</a
                    >
                  </div>
                </div>
                <a href="">
                  <img
                    src="../static/img/play.png"
                    alt="Play"
                    class="resume-card-icon ms-3"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Movie Card -->
        {% endfor %}
      </div>
    </div>
    <div class="albums">
      <div class="row col-12 g-3">
        <h2 class="">Albums with <em>{{ movie.title }}</em></h2>
        <!-- Watchlist Card -->
        {% for watchlist in albums %}
        <div class="card-group col">
          <div class="card watchlist-card bg-dark-blue-lighter">
            <div class="poster-collage">
              {% for poster in watchlist.posters[:4] %}
              <img
                src="../static/posters/{{ poster }}"
                alt="Poster"
                class="poster-crop collage-{{ watchlist.posters|length }}"
              />
              {% endfor %}
            </div>

            <div class="card-body">
              <p
                class="card-title text-truncate"
                style="
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                "
              >
                {{ watchlist.title }}
              </p>
              <div
                class="resume-card col-12 d-flex align-items-center justify-content-between"
              >
                <div
                  class="progress-section d-flex align-items-center flex-grow-1"
                >
                  <div>
                    <p
                      class="mb-0"
                      style="
                        font-weight: bold;
                        font-size: 0.95rem;
                        color: #7e7f83;
                      "
                    >
                      {{ watchlist.film_count }}
                    </p>
                    <p
                      class="mb-0"
                      style="
                        color: #7e7f83;
                        font-size: 10px;
                        padding-top: none !important;
                      "
                    >
                      films
                    </p>
                  </div>
                  <span style="color: #7e7f83" class="mx-2">|</span>
                  <div class="resume-card-percentage me-2 mb-0">
                    <p
                      class="mb-0"
                      style="font-weight: bold; font-size: 0.75rem"
                    >
                      {{ watchlist.watched }}%
                    </p>
                    <p class="mb-0" style="font-size: 10px">watched</p>
                  </div>
                </div>
                <a href="">
                  <img
                    src="../static/img/play.png"
                    alt="Play"
                    class="resume-card-icon ms-3"
                  />
                </a>
              </div>
              <div class="flex-grow-1 mt-2">
                <div class="progress" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: {{ watchlist.watched }}%;"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Watchlist Card -->
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
