{% extends "base.html" %}{% block title %}Film Details{% endblock %} {% block
content %}

<!-- Background Banner -->
<section
  class="background-banner"
  id="summary-wrapper"
  style="background-image: url('../static/posters/zoo.jpg')"
>
  <div class="background-overlay movie">
    <div class="container">
        <div class="shadow-base"></div>
      </div>
    </div>
  </div>

  <div class="container summary">
        <div class="row" id="summary-section">
            <div class="mobile-poster posters col-md-2 col-sm-3 hidden-xs sticky-wrapper">
                <div class="poster with-overflow poster-card" id="poster-frame">
                    <img src="../static/posters/zoo.jpg" alt="Movie Poster" class="img-fluid" />
                </div>
                <div class="poster with-overflow poster-card">
                    <button class="btn btn-primary me-3">
                      <a style="color: #e7ecef !important; font-weight: bold" href="#"
                        >Continue Watching </a
                      ><i class="bi bi-play-fill"></i>
                    </button>
                    <button class="btn btn-outline-light">
                      <a href="#">Watch Trailer</a>
                    </button>
                  </div>
            </div>
            <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3 mobile-title info-wrapper">
                <h2 class="franchise-title" style="font-size: 0.85rem !important; color:#eb4e57"><em>{{ movie.franchise }}</em></h2>
                <div class="col-md-6 movie-info">
                    <h1 class="movie-title" style="font-size: 1.5rem;">{{ movie.title }}</h1>
                    <div class="movie-meta d-flex align-items-center gap-2 flex-wrap">
                      <h5 class="movie-meta-info mb-0">{{ movie.year }}</h5>
                      {% for genre in movie.genres %}
                      <a href="#">{{ genre }}</a>
                      {% if not loop.last %}
                      <span class="blue">&middot;</span>
                      {% endif %} {% endfor %}
                      <p>{{ movie.watched }}% watched</p>
                    </div>
                    <div class="movie-rating d-flex align-items-center mt-2 gap-2">
                      {% for director in movie.directors %}
                      <a href="#" class="movie-meta-director">{{ director }}</a>
                      {% if not loop.last %}
                      <span class="blue">&middot;</span>
                      {% endif %} {% endfor %}
                      <div class="rate-icon">
                        <img src="../static/img/imdb.png" alt="IMDb" />
                        <a href="#">{{ movie.imdb_rating }}</a>
                      </div>
                      <div class="rate-icon">
                        <img src="../static/img/rotten.png" alt="Rotten Tomatoes" />
                        <a href="#">{{ movie.rotten_tomatoes_rating }}%</a>
                      </div>
                    </div>
                </div>
                <div id="overview" class="col-md-10 col-sm-9 info">
                    <!-- OVERVIEW -->
                    <p class="movie-description">
                        {{ movie.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
